<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
    <div id="app">
        <template>
            <el-button type="primary" @click="add">新建</el-button>
            <el-table :data="tableData" border style="width: 100%">
                <el-table-column fixed prop="id" label="ID">
                </el-table-column>
                <el-table-column prop="name" label="名称">
                </el-table-column>
                <el-table-column prop="sortIndex" label="排序">
                </el-table-column>
                <el-table-column prop="url" label="url">
                </el-table-column>
                <el-table-column prop="createTime" label="创建时间">
                </el-table-column>
                <el-table-column prop="statu" label="状态">
                </el-table-column>
                <el-table-column fixed="right" label="操作">
                    <template slot-scope="scope">
                        <el-button @click="edit(scope.row.id)" type="text" size="small">编辑</el-button>
                        <el-button v-if="scope.row.statu == '有效'" @click="deleteById(scope.row.id)" type="text" size="small">删除</el-button>
                        <el-button v-if="scope.row.statu == '删除'" @click="recoverById(scope.row.id)" type="text" size="small">恢复</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="pageNo"
                    :page-size="pageSize"
                    :total="totals">
            </el-pagination>
        </template>
    </div>
</body>
    <script type="text/javascript" src="../../js/vue.js"></script>
    <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script>
        var Main = {
            methods: {
                add(){
                    window.location.href="add.html";
                },
                edit(id){
                    window.location.href="add.html?id="+id;
                },
                loadData(){
                    var self = this;
                    self.tableData = [];

                    axios.post("/admin/menus/findAll",{"pageNo":this.pageNo,"pageSize":this.pageSize}).then(function(response){
                        console.log(response);
                        if(response != null && response.data != null){
                            var list = response.data.list;
                            for(var i = 0;i<list.length;i++){
                                var info = new Object();
                                info.id = list[i].id;
                                info.name = list[i].name;
                                info.sortIndex = list[i].sortIndex;
                                info.url = list[i].url;
                                info.createTime = list[i].createTime;
                                info.statu = list[i].statu === 1 ? "有效" : "删除";
                                self.tableData.push(info);
                            }
                            self.totals = response.data.total;
                            self.pageSize = response.data.pageSize;
                            self.pageNo = response.data.pageNum;

                        }
                    });
                },
                deleteById(id){
                    var self = this;
                    axios.get("/admin/menus/deleteById",{params:{"id":id}}).then(function(response){
                        console.log(response);
                        if(response.data){
                           self.$message({
                              showClose: true,
                              message: '删除成功',
                              type: 'success'
                            });
                            self.loadData();
                        }
                    });
                },
                recoverById(id){
                    var self = this;
                    axios.get("/admin/menus/recoverById",{params:{"id":id}}).then(function(response){
                        console.log(response);
                        if(response.data){
                           self.$message({
                              showClose: true,
                              message: '操作成功',
                              type: 'success'
                            });
                            self.loadData();
                        }
                    });
                },
                handleSizeChange(val) {
                    console.log(`每页 ${val} 条`);
                    this.pageSize = val;
                    this.loadData();
                },
                handleCurrentChange(val) {
                    console.log(`当前页: ${val}`);
                    this.pageNo = val;
                    this.loadData();
                }
            },
            data() {
                return {
                    tableData: [],
                    totals:0,
                    pageSize:10,
                    pageNo:1
                }
            },
            mounted:function(){
                this.loadData();
            }
        }
        var Ctor = Vue.extend(Main)
        new Ctor().$mount('#app')
    </script>
</html>