<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>菜单管理</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../element-ui/css/index.css">
</head>
<body>
    <div id="app">
        <template>
            <el-button type="primary" plain @click="add" style="margin-bottom: 10px;width: 100px;">新建</el-button>
            <el-table :data="tableData" border style="width: 100%" :header-cell-style="{background:'#eef1f6',color:'#606266'}">
                <el-table-column fixed prop="id" label="ID">
                </el-table-column>
                <el-table-column prop="name" label="名称">
                </el-table-column>
                <el-table-column prop="sortIndex" label="排序">
                </el-table-column>
                <el-table-column prop="url" label="url">
                </el-table-column>
                <el-table-column prop="createTime" label="创建时间">
                </el-table-column>
                <el-table-column prop="statu" label="状态">
                </el-table-column>
                <el-table-column fixed="right" label="操作">
                    <template slot-scope="scope">
                        <el-button @click="edit(scope.row.id)" type="text" size="small">编辑</el-button>
                        <el-button v-if="scope.row.statu == '有效'" @click="deleteById(scope.row.id)" type="text" size="small">删除</el-button>
                        <el-button v-if="scope.row.statu == '删除'" @click="recoverById(scope.row.id)" type="text" size="small">恢复</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="pageNo"
                    :page-size="pageSize"
                    :total="totals">
            </el-pagination>
        </template>
        <el-dialog
                title="新增菜单"
                :visible.sync="dialogVisible"
                width="30%"
                :before-close="handleClose">
            <template>
                <el-form label-position="right" label-width="80px" :model="editForm" :rules="rules" ref="editForm">
                    <el-form-item label="名称" required prop="name">
                        <el-input v-model="editForm.name" style="width: 200px;"></el-input>
                    </el-form-item>
                    <el-form-item label="排序" required prop="sortIndex">
                        <el-input v-model="editForm.sortIndex" style="width: 200px;"></el-input>tip：越小越排前
                    </el-form-item>
                    <el-form-item label="url" required prop="url">
                        <el-input v-model="editForm.url" style="width: 200px;"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="save('editForm')">保存</el-button>
                    </el-form-item>
                </el-form>
            </template>
        </el-dialog>
    </div>
</body>
    <script type="text/javascript" src="../../js/vue.js"></script>
    <script type="text/javascript" src="../../js/axios.min.js"></script>
    <script src="../../element-ui/js/index.js"></script>
    <script type="text/javascript" src="../../js/url.js"></script>
    <script src="../../js/admin/menu/list.js"></script>

</html>