body{
    margin: 0;
    padding: 0;
}
.el-main {
    overflow: hidden;
}
.el-header, .el-footer {
    background-color: #B3C0D1;
    color: #333;
    text-align: center;
    line-height: 60px;
}
.el-footer{
    width: 100%;
    bottom: 0;
}
.el-header{
    padding: 0px !important;
}
.el-aside {
    background-color: #D3DCE6;
    color: #333;
    text-align: center;
    line-height: 200px;
}
.top{
    position: fixed;
    top: 80%;
    right: 5%;
    cursor: pointer;
}


body > .el-container {
    margin-bottom: 40px;
}