<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xsx.blog.mapper.BlogMapper" >
  <resultMap id="BaseResultMap" type="com.xsx.blog.model.Blog" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="cover_pic" property="coverPic" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="dist_name" property="distName" jdbcType="VARCHAR" />
    <result column="sort_index" property="sortIndex" jdbcType="INTEGER" />
    <result column="statu" property="statu" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="menu_id" property="menuId" jdbcType="INTEGER" />
    <result column="tag_id" property="tagId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.xsx.blog.model.Blog" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Blob_Column_List" >
    id,cover_pic,create_time,create_user_id,dist_name,sort_index,statu,title,update_time,menu_id,tag_id,content
  </sql>
  <select id="findById" resultMap="BaseResultMap">
    select <include refid="Blob_Column_List"/>
    from blog where id=#{id,jdbcType=INTEGER}
  </select>
  <select id="findAll" parameterType="com.xsx.blog.request.BlogSearchRequest" resultMap="BaseResultMap">
    select <include refid="Blob_Column_List"/>
    from blog
    <where>
      1=1
      <if test="blogTitle != null and blogTitle != ''">
        and title = #{blogTitle}
      </if>
      <if test="menuId != null">
        and menu_id = #{menuId,jdbcType=INTEGER}
      </if>
      <if test="tagId != null">
        and tag_id = #{tagId,jdbcType=INTEGER}
      </if>
      <if test="statu != null">
        and statu = #{statu,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  <update id="update" parameterType="com.xsx.blog.model.Blog">
    update blog set
    cover_pic=#{coverPic,jdbcType=VARCHAR},
    create_time=#{createTime,jdbcType=TIMESTAMP},
    create_user_id=#{createUserId,jdbcType=INTEGER},
    dist_name=#{distName,jdbcType=VARCHAR},
    sort_index=#{sortIndex,jdbcType=INTEGER},
    statu=#{statu,jdbcType=INTEGER},
    title=#{title,jdbcType=VARCHAR},
    update_time=#{updateTime,jdbcType=TIMESTAMP},
    menu_id=#{menuId,jdbcType=INTEGER},
    tag_id=#{tagId,jdbcType=INTEGER},
    content=#{content,jdbcType=LONGVARCHAR}
    where id=#{id,jdbcType=INTEGER}
  </update>
  <insert id="insert" parameterType="com.xsx.blog.model.Blog" >
    insert into blog (cover_pic, create_time,
      create_user_id, dist_name, sort_index, 
      statu, title, update_time, 
      menu_id, tag_id, content
      )
    values (#{coverPic,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{createUserId,jdbcType=INTEGER}, #{distName,jdbcType=VARCHAR}, #{sortIndex,jdbcType=INTEGER}, 
      #{statu,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP},
      #{menuId,jdbcType=INTEGER}, #{tagId,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xsx.blog.model.Blog" >
    insert into blog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="coverPic != null" >
        cover_pic,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="distName != null" >
        dist_name,
      </if>
      <if test="sortIndex != null" >
        sort_index,
      </if>
      <if test="statu != null" >
        statu,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="menuId != null" >
        menu_id,
      </if>
      <if test="tagId != null" >
        tag_id,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="coverPic != null" >
        #{coverPic,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="distName != null" >
        #{distName,jdbcType=VARCHAR},
      </if>
      <if test="sortIndex != null" >
        #{sortIndex,jdbcType=INTEGER},
      </if>
      <if test="statu != null" >
        #{statu,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="menuId != null" >
        #{menuId,jdbcType=INTEGER},
      </if>
      <if test="tagId != null" >
        #{tagId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>