<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xsx.blog.mapper.CommentMapper" >
  <resultMap id="BaseResultMap" type="com.xsx.blog.model.Comment" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="statu" property="statu" jdbcType="INTEGER" />
    <result column="blog_id" property="blogId" jdbcType="INTEGER" />
  </resultMap>

  <select id="findOne" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from comment where id=#{commentId,jdbcType=INTEGER}
  </select>
  <update id="update" parameterType="com.xsx.blog.model.Comment">
    update comment set content=#{content,jdbcType=VARCHAR},statu=#{statu,jdbcType=INTEGER} where id=#{id,jdbcType=INTEGER}
  </update>
  <select id="count" resultType="java.lang.Integer">
    select count(*) from comment
  </select>
  <select id="findAll" parameterType="com.xsx.blog.request.CommentSearchRequest" resultMap="BaseResultMap">
    select * from comment
    <where>
      1=1
      <if test="blogId != null">
        and blog_id = #{blogId,jdbcType=INTEGER}
      </if>
      <if test="isAdmin != 1">
        and statu = 1
      </if>
    </where>
    order by create_time desc
  </select>

  <insert id="insert" parameterType="com.xsx.blog.model.Comment" >
    insert into comment (id, content, create_time, 
      pid, statu, blog_id)
    values (#{id,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{pid,jdbcType=INTEGER}, #{statu,jdbcType=INTEGER}, #{blogId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xsx.blog.model.Comment" >
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="statu != null" >
        statu,
      </if>
      <if test="blogId != null" >
        blog_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="statu != null" >
        #{statu,jdbcType=INTEGER},
      </if>
      <if test="blogId != null" >
        #{blogId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>